<div>
  <h1>Billigaste Matkassen - Priser</h1>
  <p>
    Denna sida hjälper dig att hitta det billigaste priset på din matkasse, baserat på priser som har registrerats på <a href="#/redigera">redigeringssidan</a>.
  </p>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#alla" data-toggle="tab">Alla</a>
  </li>
  <li>
    <a href="#frukt-och-gront" data-toggle="tab">Frukt och grönt</a>
  </li>
  <li>
    <a href="#mejeri" data-toggle="tab">Mejeri</a>
  </li>
</ul>

<div class="tabbable">
  <div class="tab-content">
    <div class="tab-pane active" id="alla">
      <ul class="thumbnails">
        {{#each item in items}}
        <li class="span2">
          <div class="thumbnail" style="height: 240px;">
            {{#if item.imageUrl}}
            <div style="margin-bottom: 12px;">
              <img {{bindAttr src="item.imageUrl"}} style="height: 150px;"/>
            </div>
            {{else}}
            <div style="margin-bottom: 12px; text-align: center;">
              <i class="icon-question-sign" style="font-size: 5em; height: 150px;"></i>
            </div>                  
            {{/if}}
            <div style="font-weight: bold; word-wrap: break-word;">{{item.name}}</div>
            <div>{{item.qty}} {{item.unitOfMeasure}} {{item.brand}}</div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="tab-pane" id="frukt-och-gront">
    </div>

    <div class="tab-pane" id="mejeri">
    </div>
  </div>
</div>

