<div>
  <h1>Billigaste Matkassen - Redigera priser</h1>
</div>      

<form id="spinnerContent">
  <div style="margin-bottom: 12px;">
    <button class="btn" {{action saveRows}}>Spara</button>
  </div>

  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Artikel</th>
        <th>Vikt/volym</th>
        <th>Enhet</th>
        <th>Varumärke</th>
        <th>Tillverkare</th>
        <th>Produktgrupp</th>
        <th>Axet</th>
        <th>Citymarket</th>
        <th>Lidl</th>
        <th>Minimani</th>
        <th>Prisma</th>
      </tr>
    </thead>
    <tbody>
      {{#each item in items}}
      <tr>
        <td>{{view Ember.TextField valueBinding="item.name" classNames="editName"}}</td>
        <td>{{view App.Controls.AmountTextField valueBinding="item.qty"}}</td>
        <td>{{view Ember.Select contentBinding="unitOfMeasures"
                                prompt=" "
                                valueBinding="item.unitOfMeasure"
                                classNames="editQty"}}</td>
        <td>{{view Ember.TextField valueBinding="item.brand" classNames="editBrand"}}</td>
        <td>{{view Ember.TextField valueBinding="item.manufacturer" classNames="editBrand"}}</td>
        <td>{{view Ember.Select contentBinding="globalData.productGroups"
                                prompt=" "
                                optionValuePath="content.description"
                                optionLabelPath="content.description"
                                valueBinding="item.productGroup"
                                classNames="editProductGroup"}}</td>
        <td>{{view App.Controls.MoneyTextField valueBinding="item.price_axet"}}</td>
        <td>{{view App.Controls.MoneyTextField valueBinding="item.price_citymarket"}}</td>
        <td>{{view App.Controls.MoneyTextField valueBinding="item.price_lidl"}}</td>
        <td>{{view App.Controls.MoneyTextField valueBinding="item.price_minimani"}}</td>
        <td>{{view App.Controls.MoneyTextField valueBinding="item.price_prisma"}}</td>
        <td><a href="#" {{action "removeRow" item}}><i class="icon-trash"></i></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div>
    <button class="btn" {{action addNewRow}}>Lägg till ny rad</button>
  </div>
  <div style="margin-top: 12px;">
    <button class="btn" {{action saveRows}}>Spara</button>
  </div>
</form>
